.revenuewrapper{
    /* border: 1px solid red; */
    /* width: 600px; */
    grid-area: 1 / 1 / 2 / 3;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    /* gap: 1rem; */
    background-color: #222222;
    overflow: hidden;
    justify-content: space-between;
}

.chartwrapper{
    /* border: 1px solid red; */
    height: 50%;
    /* flex: 1 */
}

.metricswrapper{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingmetric{
    font-size: 3rem;
}
.title{
    /* border: 1px solid red; */
    font-size: 1.8rem;
    white-space: no-wrap;
}

.changewidget{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    width: fit-content;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 16px;
    gap: 1rem
    /* background-color: #2A2A2A; */
}

.changewidget[data-direction="up"] {
    color: rgb(0, 255, 153);
    background-color: rgba(0, 255, 153, 0.135);
}

.changewidget[data-direction="down"] {
    color: rgb(255, 0, 32);
    background-color: rgba(255, 0, 32, 0.135);
}

.widgetarrow{
    /* border: 1px solid red; */
    display: grid;
    place-items: center;
}
